# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
.report/

# Runtime data
*.eid
*.pid
*.seed
*.token

# Directory for compiled output
dist/
dist-test/

# Dependencies
node_modules/
/.pnp
.pnp.js

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm/

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# Microbundle cache
.rpt2_cache/
.rts2_cache/

# Custom tsconfig for tests
tsconfig.test.json

# dotenv environment variables file
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs
*.njsproj
*.sln
*.bak

# OS-specific files
.DS_Store
thumbs.db

# Passy specific files
.pwmgr/
